img {
    width: 30%;
    float: left;
    margin: 1.66%;
}

h1 {
    text-align: Center;
    font-weight: bold;
    font-family: "indie flower";
    font-size: 75px;
    border-width: 30;
    border-bottom: 3px solid black;
}

.info {
    margin-bottom: 10px;
}

.textbox {
    width: 30%;
    height: 45px;
}

